# Ignore Everything
*

# Folders
!.github/
!.github/**
!self_signed_certs/
!src/
!src/**

# Dotfiles
!.env
!.gitignore

# Other Files
!Dockerfile

# Dependencies
!Cargo.toml
!Cargo.lock
!rustfmt.toml
